.footerWrapper {
  width: 100vw;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.imgCard {
  display: flex;
  align-items: center;
}

.img img {
  width: 80px;
  height: 80px;
}

.songName {
  font-size: 16px;
}

.albumName {
  font-size: 12px;
}

.play_pause {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 750px) {
  .footerWrapper {
    display: flex;
    flex-direction: column;
  }
  .imgCard {
    display: flex;
    justify-content: center;
  }
  .img img {
    width: 60px;
    height: 60px;
  }
}
